extends layout
block content
	nav
		p Usuario
		br  
		li
			a(href="./oui") Ui
		|   
		li
			a(href="./oquery") Consultas
		|   
		li
			a(href="./oviews") Listar views
		|   
		li
			a(href="./odocument") Documentos
		|   
		li
			a(href="./odb") Conexiones
		|   
		li
			a(href="./ologout") Cerrar sesi칩n
		|   
	nav
		li
			a(href='./add_db') Agregar conexion a db
		|   
		li
			a.active(href='./upd_db', class="active") Modificar conexion a db
		|   
		li
			a(href="./del_db") Eliminar conexion a db
		|   
		br
	nav
		p DB a modificar
		each db in dbs
			form(method="POST", action="./oupdate")
				label Id:   
				input(type="int", name="id", value=db.id)
				br
				|       
				label Nombre:   
				input(type="text", name="name", value=db.name)
				br
				|       
				label Descripci칩n:   
				input(type="text", name="description", value=db.description)
				br
				|       
				label Usuario:   
				input(type="text", name="user", value=db.user)
				br
				|       
				label Contrase침a:   
				input(type="text", name="password", value=db.password)
				br
				|       
				label Nombre de la base de datos:   
				input(type="text", name="dbname", value=db.dbname)
				br
				|       
				label Nombre de origen de datos (dsn):   
				input(type="text", name="dsn", value=db.dsn)
				br
				|       
				label Hostsocket:   
				input(type="text", name="hostsocket", value=db.hostsocket)
				br
				|       
				label Clase del driver:   
				input(type="text", name="classname", value=db.classname)
				br
				|       
				label Sub protocolo:   
				input(type="text", name="subprotocol", value=db.subprotocol)
				br
				|       
				label Par치metros:   
				input(type="text", name="params", value=db.params)
				br
				|       
				input(type="submit", value="Aceptar")
			br

