extends layout
block content
	nav
		p Usuario
		br  
		li
			a(href="./oui") Ui
		|   
		li
			a.active(href="./oquery", class="active") Consultas
		|   
		li
			a(href="./oviews") Listar views
		|   
		li
			a(href="./odocument") Documentos
		|   
		li
			a(href="./odb") Conexiones
		|   
		li
			a(href="./ologout") Cerrar sesión
		|   
	nav
		li
			a(href='./oadd_q') Agregar query
		|   
		li
			a(href='./odel_q') Eliminar query
		|   
	nav
		br
		p Lista de views de la consulta
		table(border='1')
			thead
				tr
					th id
					th name
					th descripción
					th email
					th created_at
			tbody
				each ui in uis
					tr
						td=ui.id
						td=ui.name
						td=ui.description
						td=ui.email
						td=ui.created_at
	br


